name: Entur/Docs/Publish

on:
  workflow_call:
    inputs:
      project:
        type: string
        default: repo_name
      directory:
        type: string
        default: docs
env:
  GHA_DOCS_PUBLISH_PROJECT: ${{ inputs.project }}
  GHA_DOCS_PUBLISH_DOCS_DIRECTORY: ${{ inputs.directory }}

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - id: set-project-name
        if: env.GHA_DOCS_PUBLISH_PROJECT == 'repo_name'
        shell: bash
        run: |
          echo "GHA_DOCS_PUBLISH_PROJECT=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV
      - uses: actions/checkout@v6
      - id: auth
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          credentials_json: "${{ secrets.ENTUR_DOCS_SA }}"
      - name: "Set up Cloud SDK"
        uses: google-github-actions/setup-gcloud@aa5489c8933f4cc7a4f7d45035b3b1440c9c10db # v3.0.1
        # with:
        # version: ">= 363.0.0"
      - name: Upload docs to Entur Docs GCS
        run: |
          if [[ -z "${GHA_DOCS_PUBLISH_PROJECT}" ]]; then
            echo "Project name must be specified."
            exit 1
          fi
          echo "Starting to sync files to GCS Bucket to /${GHA_DOCS_PUBLISH_PROJECT}"
          gcloud storage rsync -r "${GHA_DOCS_PUBLISH_DOCS_DIRECTORY}" "gs://entur-docs.appspot.com/${GHA_DOCS_PUBLISH_PROJECT}/docs"
